<!doctype html>
<html>

<head>
  <title> Login Page </title>
</head>

<body>
  <h1> Login Page </h1>

  <form action="/login" method="POST">
    <label for="E_id">Employee ID: </label>
    <input type="text" placeholder="Enter Employee ID" name="E_id" required><br><br>

    <label for="password">Password: </b></label>
    <input type="password" placeholder="Enter Password" name="password" required><br><br>

    <button type="submit">Login</button><br><br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </form>
</body>
</html>